
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,700;1,400&family=Questrial&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

body {
  margin: auto;
  padding: 0;
  font-family: 'Montserrat Alternates';
  color: #838383;
  font-weight: 400;  
  /* background-size: 100%; */
  background-color: darkgray;
  background-image: url(../public/tablero-madera-fondo.jpg);
  background-size: contain;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
#root {
  margin: 1% 10%;
  padding: 3px 10%;
  border-radius: 10px;
  position: relative;
  min-height: 532px;
  justify-content: center;
  
  /* background-color: #e4e4e4; */

  /* box-shadow: 1px 1px 15px 7px #935FA7 inset; */
  /* 0px 0px 13px 0px #838383; */
}

.newTask{
  margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 0%;
    /* margin: auto; */
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media (max-width: 767px) {
  body {
    margin: 0;
    width: 80%;
  }
  #root {
    width: 100%;
    height: 60%;
    margin: 2% 1%;
  }
}

/* 
@media (min-width: 768px) {
   body {
    height: auto;
    min-height: 500px;
  } 
  #root {
    margin: 2% 20%;
    padding: auto;
    min-height: 800px;
    height: 95%;
  }
} */
 